BACKUP_PATH=ТвойПуть
# Можно указать несколько путей через ; например: C:\backup1;D:\backup2
EXCLUDE_FOLDERS=Исключение
DAILY_THRESHOLD=10
WEEKLY_THRESHOLD=45
MONTHLY_THRESHOLD=60
OUTPUT_PATH=.\reports
LOG_PATH=.\logs
TRIGGER_PATH=.\triggers
LOG_RETENTION_DAYS=7
REPORT_RETENTION_DAYS=7